/* Font */

@font-face {
  font-family: "TheHistoria";
  src: url(TheHistoriaDemo.ttf);
}

/*Start global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

input {
  color: black;
}

textarea {
  color: black;
  resize: none;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: #123;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/*End global*/

/*Start reusable*/

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 6rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

/*End reusable*/

/*Start header*/

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: TheHistoria;
  font-size: 5rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.landing-text span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text span h1 {
  font-size: 20rem;
  font-family: TheHistoria, sans-serif;
  background: linear-gradient(to top, #fd57bf 55%, #ffe838 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5rem 2rem;
  user-select: none;
}

.landing-text span .m,
.landing-text span .s {
  width: 14%;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}

/*End header*/

/*Start about*/

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
  text-align: center;
  max-width: 715px;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.fa-facebook-square:hover {
  color: #4267b7;
}

.fa-twitter-square:hover {
  color: #38a1f3;
}

.fa-linkedin-in:hover {
  color: #4267b7;
}

/*End about*/

/*Start services*/

.my-skills {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill-list {
  max-width: 715px;
}

.skill-list ul {
  font-size: 20px;
  list-style: none;
  letter-spacing: 1.5px;
  line-height: 40px;
  display: inline-block;
}

.skill-list ul li {
  border-bottom: 1px #fd57c096 solid;
  margin: 0px;
}

.skill-list ul li:last-child {
  border-bottom: none;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
  font-size: 15px;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #ffe838;
  background-color: #fd57bf;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/*End services*/

/*Start portfolio*/

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5rem;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 0px 10px;
  box-shadow: 0px 0px 10px rgb(10, 10, 10);
  overflow: hidden;
  transition: all 300ms ease;
  border-radius: 10px;
}

.portfolio-item:hover {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px rgb(25, 25, 25);
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-description {
  z-index: 0;
  margin-left: 1rem;
  max-width: 800px;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .ctas {
  cursor: default;
  margin-bottom: 8px;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffe838;
  transition: color 350ms;
}

.portfolio-description .cta:hover {
  color: #fd57bf;
}

.portfolio-img {
  z-index: 1;
  height: 500px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-img img {
  width: 280px;
  height: 400px;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.35s ease;
}

.portfolio-img img:hover {
  box-shadow: 0px 0px 8px white;
  transform: scale(1.02);
}

.item-game .portfolio-img img {
  width: 300px;
  height: 200px;
  border: 2px solid white;
  transition: all 0.35s ease;
}

.item-game .portfolio-img img:hover {
  box-shadow: 0px 0px 8px white;
  transform: scale(1.02);
}

/*End Portfolio*/

/*Start timeline*/

.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

/*End timeline*/

/*Start contact*/

.contact {
  background-color: #221e3f;
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #fd57bf;
}

input[type="submit"] {
  width: initial;
  background-color: #fd57bf;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #221e3f;
  background-color: #ffe038;
}

.option {
  color: #313534;
}

/*End contact*/

/*Start footer*/

.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

.copyright h2 {
  font-size: 15px;
}

.arrows {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.arrows div {
  width: 1px;
  height: 50px;
  background-color: white;
}

/*End footer*/

/* rain start */

/*Start animations*/

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

/*End animations*/

/*Start media queries*/

@media screen and (max-width: 1350px) {
  .landing-text span .m,
  .landing-text span .s {
    width: 19%;
  }

  .landing-text span h1 {
    font-size: 16rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    flex-direction: column;
  }
  li {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .landing-text span h1 {
    font-size: 13rem;
  }
  .landing-text span .m,
  .landing-text span .s {
    width: 19%;
  }
  .landing-text h6 {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 4.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date:before {
    left: -20rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }
  .has-margin-right {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 645px) {
  .landing-text span h1 {
    font-size: 12rem;
  }
  .landing-text span .m,
  .landing-text span .s {
    width: 20%;
  }
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-img {
    margin: 0 0 2rem 0;
  }
  .portfolio-description {
    margin: 0;
    order: 2;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .date::before {
    font-size: 1.4rem;
  }
  form {
    width: 100%;
  }
  .up {
    right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .landing-text span h1 {
    font-size: 9rem;
  }
  .landing-text span .m,
  .landing-text span .s {
    width: 17%;
  }
}

@media screen and (max-height: 560px) {
  .nav-list li {
    margin: 0 0;
  }

  .nav-list li a {
    font-size: 4rem;
  }
}

@media screen and (max-width: 440px) {
  .landing-text span h1 {
    font-size: 7rem;
  }
  .landing-text span .m,
  .landing-text span .s {
    width: 18%;
  }
}

/*End media queries*/
